.navbar {
  border-radius: var(--radius); /* Используем кастомную переменную из index.css */
  margin-top: 1rem; /* Отступ сверху */
}

/* Опционально: стили для темной темы */
@media (prefers-color-scheme: dark) {
  .navbar {
    background-color: var(--sidebar);
  }
}